<html>

<head>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>

<body>
  
  <style>
    table {
      border-collapse:collapse;
    }
    table td {
      border:1px solid #DDDDDD;
      padding:2px 5px;
    }
    .word {
      background-color:#f0eeff;
    }
    .comment {
      background-color:#d4e5ff;
      padding:5px;
      font-weight:bold;
    }
    .header {
      min-width:150px;
    }
    .word, .en-tengwar, .en-tengwar-gb, .en-tengwar-rp, .en-tengwar-us {
      border-right: 2px black solid !important;
    }
  </style>
    
  <table>
    <tr>
      <th class="header"></th>
      <% SPECS.keys.each do |k| %>
        <th class="header"><%= k %></th>
      <% end %>
    </tr>
    
    <% lines.each do |l| %>
      <tr>
        <% if l.type == :example %>
          <td class="word"><%= l.content %></td>
          <% l.translations.each do |k,v| %>
            <td class="<%= k %>"><%= v.gsub("☐","<b style='color:red'>☐</b>") %></td>
          <% end %>
        <% else %>
          <td class="comment" colspan="<%= SPECS.keys.count + 1 %>"><%= l.content %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  
  
</body>

</html>