<html>

<head>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>

<body>
  
  <style>
    
    body { background-color: #e2e2e2;}
  
    .grey, .gray, .grey span, .gray span  { color:gray  !important; }
    .green        { color:green !important; }
    .red          { color:red   !important; }
    .blue         { color:blue  !important; }
    .absent       { background-color: #fff0f0;}
    td            { background-color:white;}
    td.inherited    { background-color: #f0fff0;}
    td { vertical-align:top;}
    .sameas { 
      background-color: yellow;
    padding: 5px;
    margin-bottom: 5px;
    color: #928900;
    font-weight: bold;
    white-space:nowrap;
    }
    
    div.inherited {
      background-color: #02bb02;
      padding: 5px;
      margin-bottom: 5px;
      color: white;
      white-space:nowrap;
      
    }
  </style>
  
  <script>
      $(document).ready(function() {
        $(".toggler").click(function() {
          
          var toggler = $(this);
          
          var c = toggler.data("class");
          $("."+c).toggle();
          
        });
      });
  </script>
  
  <table>
  
  <% ref_phonemes.each do |ph| %>
  
  <tr>
    <th></th>
  <% langs.each do |l| %>
    <th style="white-space:nowrap"><button type='button' class='toggler' data-class='<%= l.name %>'>❤</button> <span class='<%= l %>'><%= l.name %></span></th>
  <% end %>  
  </tr>
  
  <tr>
    <td>
      <%= ph %>
    </td>
    <% langs.each do |l| %>
     
        <% lph = chart_sources[l.name][ph] %>
        <% if lph %>
         <td>
          <div class="code <%= l.name %>">
            <% code = lph.pre + lph.code %>
            
            <% l.ref_langs.each do |lref| %>
              <% phref = chart_sources[lref.name][ph] %>
              <% if(phref && compile(code) == compile(phref.code)) %>
                <div class='sameas'>Same as in <%= lref.name %></div>
              <% end %>
            <% end %>
            
            <pre><%= colorize(code) %></pre>                
          </div>
        </td>
        <% elsif l.parent && chart_sources[l.parent.name][ph] %>
          <td class='inherited'><div class='inherited'>Inherited from <%= l.parent.name %></div></td>
        <% else %>
          <td class='absent'><div class='absent'>Absent</div></td>
        <% end %>
      
      </td>
    <% end %>
  </tr>
  <% end %>
  
  
  <style>
    td {
      text-align:left;
      padding:10px;
      border: solid 1px black;
      border-collapse: collapse;
    }
    td.code {
      vertical-align:bottom;
    }
  </style>
  
</body>

</html>